{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/receipt.css" %}">
</head>
<body>
    <nav>
        <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url "logout" %}">Logout</a></li>

            <li><a href="{% url "create_receipt" %}">Create receipt</a></li>
            <li><a href="{% url "create_category" %}">Create category</a></li>
            <li><a href="{% url "create_account" %}">Create account</a></li>

            <li><a href="{% url "home" %}">My Receipe</a></li>
            <li><a href="{% url "category_list" %}">Category</a></li>
            <li><a href="{% url "account_list" %}">Account</a></li>
        {% else %}
            <li><a href="{% url "signup" %}">Sign Up</a></li>
            <li><a href="{% url "login" %}">Log In</a></li>
        {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>
