{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<header></header>
<main>
    {% if user.is_authenticated %}
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Number</td>
                <td>Number of receipts</td>
            </tr>
        </thead>
        <tbody>
            {% for acc in accounts %}
            <tr>
                <td>{{acc.account__name}}</td>
                <td>{{acc.account__number}}</td>
                <td>{{acc.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</main>
<footer></footer>
{% endblock content%}
