{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<header></header>
<main>
    <div>
        {% if user.is_authenticated %}
        <h1>Create Account</h1>
            <form method='post'>
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Create</button>
            </form>
        {% endif %}
    </div>
</main>
<footer></footer>
{% endblock content%}
