nav {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: lightgrey;
}

li {
    margin-bottom: 10px;
    /* Adds space below each list item */
}

table {
    border-collapse: separate;
    border-spacing: 5px 0;
    /* Adjusts space between columns */
    width: 100%;
}

td {
    padding: 5px;
    /* Adjusts internal padding of cells */

    /* Just to visualize the space */
}

thead {
    font-weight: bold;
    font-size: larger;
}
